# Ignore node_modules directory
node_modules/

# Ignore build artifacts
build/
dist/
out/
.next/
.out/

# Ignore environment files (if applicable)
.env.local
.env.development.local
.env.test.local
.env.production.local

# Ignore package-lock.json (use yarn.lock for Yarn)
package-lock.json

# Ignore log files
*.log

# Ignore .DS_Store files (Mac-specific)
.DS_Store
